.gb-share-simple .gb-share-btn .gb-share-ico-font,.gb-share-simple .gb-share-btn:visited .gb-share-ico-font{ color:#bebebe;}
.gb-share-simple .gb-share-con{ margin-left:-5px;}
.gb-share-simple .gb-share-btn-tit{ display: none;}

.gb-share-simple .gb-share-btn{ margin-left: 5px;}
.gb-share-simple .gb-share-btn-tsohu:hover .gb-share-ico-font{ color: #fab617;}
.gb-share-simple .gb-share-btn-qzone:hover .gb-share-ico-font{ color: #f79532;}
.gb-share-simple .gb-share-btn-tsina:hover .gb-share-ico-font{ color: #f2543f;}
.gb-share-simple .gb-share-btn-tqq:hover .gb-share-ico-font{ color: #73c5f1;}
.gb-share-simple .gb-share-btn-kaixin:hover .gb-share-ico-font{ color: #eb4953;}
.gb-share-simple .gb-share-btn-renren:hover .gb-share-ico-font{ color: #5f8dea;}
.gb-share-simple .gb-share-btn-t163:hover .gb-share-ico-font{ color: #df0037;}
.gb-share-simple .gb-share-btn-weixin:hover .gb-share-ico-font{ color: #91d460;}
.gb-share-simple .gb-share-btn-qq:hover .gb-share-ico-font{ color: #49bbf2;}
