<div class="gb-share-tip">
    <div class="gb-share-tip-in">
        <div class="gb-share-tip-hd"><a href="javascript:;" data-role="close" class="gb-share-btn-close">×</a></div>
        <div class="gb-share-tip-bd">
            <img data-role="qrcode" />
            扫一扫，分享到给朋友
        </div>
    </div>
</div>
